#selfPortrait {
margin: 0 -56px;
text-align: center;
}
@media screen and (max-width: 1260px) {
  #selfPortrait{
    margin: 0 -32px;
    text-align: center;
  }
}
#aboutWordSliderWrapper{
  margin:0 auto;
  width:536px;
}
@media screen and (max-width: 720px) {
  #aboutWordSliderWrapper{
    width:100%;
    padding-bottom:120px;
  }
}