#selfPortrait {
margin: 0 -56px;
text-align: center;
}
@media screen and (max-width: 1260px) {
  #selfPortrait{
    margin: 0 -32px;
    text-align: center;
  }
}
.post-content{
    border-width:0 !important;
}
.post-content > footer{
    border-width:0 !important;
}
.post-content > header{
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom:20px;
    width:90px;
    height:90px;
    -moz-border-radius: 48px; 
    -webkit-border-radius: 48px; 
    border-radius:48px;
    border:3px solid #555;
    background:#555;
    text-align:center;
}

.post-content > header > .title{
    padding-top:28px;
    color:#FFF;
}
#timeline{
    list-style: none;
    margin: 0;
}  

#timeline li{
    position: relative;
    text-align: center;
}
#timeline .blockWrapper{
    width: 90px;
    height:90px;
    margin: 20px auto;
    border-radius: 49px;
    border: 4px solid #555;
    background:#555;
}

#timeline .blockWrapper img{
    border-radius: 50%;
    background:#555;
    right: 0;
    position: relative;
}

#timeline .blockWrapper .content{
    display:none;
    color:#FFF;
    font-size:1.2em;
    font-family:'Poiret One', simhei, cursive;
    top: -64px;
    left: 32px;
    right: 0;
    position: relative;
}

#timeline .dot{
    top: 50%;
    width: 8px;
    height: 8px;
    margin-left: auto;
    margin-right: auto;
    background: #555;
    border-radius: 50%;
}
#timeline .content{
    padding: 0 20px 0 20px;
    text-align:center;
}
