.post-content{
    border-width:0 !important;
}
.post-content > footer{
    border-width:0 !important;
}
.post-content > header{
    margin-left:72px;
    width:60px;
    height:60px;
    -moz-border-radius: 32px; 
    -webkit-border-radius: 32px; 
    border-radius:32px;
    border:2px solid #555;
    background:#555;
    text-align:center;
}

.post-content > header > .title{
    padding-top:14px;
    color:#FFF;
}

#timeline{
    list-style: none;
    margin: 0 0 0 100px;
    padding-left: 30px;
    border-left: 8px solid #555;
}
#timeline:after{
    content:"";
    width: 0;
    height: 0;
    background: #555;
    border-width: 13px;
    border-style: solid;    
    border-color: #555 #eee #eee #eee;
    position:relative;
    left:-48px;
    top:32px;
}    
#timeline  li{
    position: relative;
    line-height: 1;
}
#timeline .circle{
    top: 50%;
    margin-top:-10px;
    left: -44px;
    width: 10px;
    height: 10px;
    background: #FFF;
    border: 5px solid #555;
    border-radius: 50%;
    display: block;
    position: absolute;
}
#timeline .date{
    top: 50%;
    margin-top:-10px;
    left: -128px; 
    font-family: 'Poiret One', simhei, cursive;
    font-size: 1.2em;
    line-height: 20px;
    position: absolute;
}
#timeline .content{
    padding: 8% 5%;
    text-align:center;
}
#timeline .content:before{
    position: absolute;
    left: -16px;
    top: 50%;
    margin-top:-10px;
    content: "";
    width: 0;
    height: 0;
    background: #555;
    border-width: 10px;
    border-style: solid;    
    border-color: #eee #555 #eee #eee;
}
#timeline .content img{
    width:480px;   
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -khtml-border-radius: 20px;  
    border-radius: 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#timeline .content img:hover{
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
@media screen and (max-width: 1000px){
    .post-content > header{
        margin-left:28px;
    }
    #timeline {
        margin-left:56px;
    }
}

