<div id="experiment_wrapper">
        <div id="slide_pager" class="bx-wrapper"></div>
    <div id="experiment">
        <div id="slide_wrapper">
        <div class="slide"><a href="/wifi-duino/"><img src="<%- config.root %>experiment/wifi-duino.jpg"></a></div>
        <div class="slide"><a href="/cutepie/"><img src="<%- config.root %>experiment/cutepie.jpg"></a></div>
        <div class="slide"><a href="/smart-car/"><img src="<%- config.root %>experiment/smart-car.jpg"></a></div>
        <div class="slide"><a href="/3d-scanner/"><img src="<%- config.root %>experiment/scanner.jpg"></a></div>
        </div>
        <div id="experiment_close"></div>
    </div>
</div>