#header
  text-shadow 0 0 1px #fff
  text-align center
  margin 24px auto
  .blog-header
    padding 16px 
  a
    color #333
    &:hover
      color color-link
      text-decoration none
    
  h1
    font-weight normal
    font-size 4em
    line-height 1

  h2
    font-weight normal
    font-size 1.2em
    line-height 1
    margin-top 10px
  
  #main-nav
    max-width 720px
    margin-left auto
    margin-right auto
    font-family font-title
    line-height 2.5em
    ul
      list-style none
      li
        display inline-block
        margin-left 30px
        font-size 1.5em
